name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - "v*.*.*" # Match any tag with the format vMAJOR.MINOR.PATCH

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Download code
        uses: actions/checkout@v2

      - name: Setup Cargo cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.93.1
          override: true

      - name: Fetch
        run: cargo fetch --locked

      - name: Publish
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN  }}

      - name: Release
        uses: softprops/action-gh-release@v1
