name: Test package

on:
  push:
    paths:
      - src/**
      - .github/workflows/test.yml
      - Cargo.toml
      - Cargo.lock

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    services:
      greenmail:
        image: greenmail/standalone:1.6.12
        ports:
          - "3110:3110"
        env:
          GREENMAIL_OPTS: "-Dgreenmail.verbose -Dgreenmail.setup.test.pop3 -Dgreenmail.hostname=0.0.0.0 -Dgreenmail.users=test:localhost"
          JAVA_OPTS: "-Djava.net.preferIPv4Stack=true -Xmx512m"

    steps:
      - name: Download code
        uses: actions/checkout@v2

      - name: Setup Cargo cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.93.1
          override: true

      - name: Fetch
        run: cargo fetch --locked

      - name: Build
        run: cargo build

      - name: Test
        env:
          SERVER: "localhost"
          PORT: "3110"
          USERNAME: "test"
          PASSWORD: "localhost"
        run: cargo test
